

.acceuil_banner {
    width: 100vw;
    height: 50vh;
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    justify-content: center;
    align-items: center;
}
.banner_image_container {
    width: 800px;
    height: 900px;
    transform: rotate(-30deg);
    position: absolute;
    top: -300px;
    right: -50px;
    overflow: hidden;
    box-shadow: -8px -6px 0 0 #F5EE9E, -20px 6px 0 0 #FFD400;
}
.banner_image {
    transform: rotate(30deg) translate(-20%, 30%);
    width: 130%;
    height: 100%;
    background-position: center;
    background-size: cover;

}

.post_announce {
    margin-left: 50%;
    transform: translateX(-50%);
}