<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Le Bon Mur{% endblock %}</title>
    <link rel="icon" href="/assets/logo-leBonMur.svg">
    <link rel="stylesheet" href="/style/style.css">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<header>
    {% block header %}
        <nav>
            <a href="http://localhost:5555/"><img src="/assets/LeBonMur-Logo-black.svg"></a>
            <div class="header_link">
                <div class="header_over_link">
                    <a class="hoverLink" href="http://localhost:5555/">Acceuil</a>
                    <a class="hoverLink" href="http://localhost:5555/annonces">Annonces</a>
                    <a class="hoverLink" href="http://localhost:5555/annonces/add">Poster</a>
                    <form class="search_form">
                        <input type="search" id="1" class="search_input" placeholder=" ">
                        <label for="1"  class="search_label">Recherche</label>
                    </form>
                </div>
                <div class="header_profile_link">
                    <a class="buttonHover"  href="http://localhost:5555/profil">
                        Se conecter
                    </a>
                </div>
            </div>
        </nav>
    {% endblock %}
</header>
<main>
    <div class="main_container">
        {% block main %}{% endblock %}
    </div>
</main>
</body>
</html>
