<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Le Bon Mur{% endblock %}</title>
    <link rel="icon" href="/assets/logo-leBonMur.svg">
    <link rel="stylesheet" href="/style/style.css">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<header>
    {% block header %}
        <nav>
            <a href="http://localhost:5555/"><img src="/assets/logo-text-leBonMur.svg"></a>
            <div class="header_link">
                <div class="header_over_link">
                    <a href="http://localhost:5555/">Acceuil</a>
                    <a href="http://localhost:5555/annonces">Annonces</a>
                    <a href="http://localhost:5555/annonces/add">Poster</a>
                    <form>
                        <input type="text">
                    </form>
                </div>
                <div class="header_profile_link">
                    <a href="http://localhost:5555/profil">
                        <img src="/assets/profil-user.svg">
                    </a>
                </div>
            </div>
        </nav>
    {% endblock %}
</header>
<main>
    <div class="main_container">
        {% block main %}{% endblock %}
    </div>
</main>
</body>
</html>
