{% extends 'base.html.twig' %}

{% block main %}
    <form action="{{ path('app_add_annonce_form') }}" method="post">
        <input type="text" name="title" placeholder="Titre"/><br/>
        <input type="text" name="desc" placeholder="Description"/><br/>
        <input type="number" name="price" placeholder="Prix"/><br/>
        <input type="file" name="photos" placeholder="photos"/><br/>
        <input type="submit" value="Publier votre annonce" />
    </form>
{% endblock %}