{% extends 'base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/style/annonceStyle.css">
{% endblock %}

   {% block header %}
       <nav>
           <a href="http://localhost:5555/"><img src="/assets/LeBonMur-Logo-black.svg"></a>
           <div class="header_link">
               <div class="header_over_link">
                   <a class="hoverLink" href="http://localhost:5555/">Acceuil</a>
                   <a class="hoverLink" href="http://localhost:5555/annonces">Annonces</a>
                   <a class="hoverLink" href="http://localhost:5555/annonces/add">Poster</a>
               </div>
               <div class="header_profile_link">
                   <a class="buttonHover"  href="http://localhost:5555/profil">
                       Se conecter
                   </a>
               </div>
           </div>
       </nav>
   {% endblock %}


{% block main %}
    <div class="filterContainer">
        <div class="filterForm">
            <div class="deroulant"><a href="#">Cathégorie</a>
                <ul class="sous">
                    <li><a href="#">Maison</a></li>
                    <li><a href="#">Vacances</a></li>
                    <li><a href="#">Meubles</a></li>
                </ul>
            </div>
            <form class="search_form">
                <input type="search" id="1" class="search_input" placeholder=" ">
                <label for="1" class="search_label">Recherche</label>
            </form>
        </div>
        <a class="buttonCharge" href="#">
            <h2 class="buttonChargeText">Filtrer</h2>
        </a>
    </div>

    <div>
        <div class="annonces_container">
            <div class="annonce_card">
                <div class="img_annonce"
                     style="background-image: url('https://images.caradisiac.com/logos/3/7/7/6/273776/S7-essai-moto-guzzi-v100-s-la-jeunesse-centenaire-198620.jpg')"></div>
                <h2>Supra moto trop belle</h2>
                <p>supra description de la supra moto car on aime trop faire ça !</p>
                <div class="annonce_card_infos">
                    <div>
                        <p>15.99€</p>
                        <p>Raphael Da.</p>
                    </div>
                    <div>
                        <a class="buttonHover" href="http://localhost:5555/annonces/1">Voir plus</a>
                    </div>
                </div>
            </div>
            <div class="annonce_card">
                <div class="img_annonce"
                     style="background-image: url('https://images.caradisiac.com/logos/3/7/7/6/273776/S7-essai-moto-guzzi-v100-s-la-jeunesse-centenaire-198620.jpg')"></div>
                <h2>Supra moto trop belle</h2>
                <p>supra description de la supra moto car on aime trop faire ça !</p>
                <div class="annonce_card_infos">
                    <div>
                        <p>15.99€</p>
                        <p>Raphael Da.</p>
                    </div>
                    <div>
                        <a class="buttonHover" href="http://localhost:5555/annonces/1">Voir plus</a>
                    </div>
                </div>
            </div>
            <div class="annonce_card">
                <div class="img_annonce"
                     style="background-image: url('https://images.caradisiac.com/logos/3/7/7/6/273776/S7-essai-moto-guzzi-v100-s-la-jeunesse-centenaire-198620.jpg')"></div>
                <h2>Supra moto trop belle</h2>
                <p>supra description de la supra moto car on aime trop faire ça !</p>
                <div class="annonce_card_infos">
                    <div>
                        <p>15.99€</p>
                        <p>Raphael Da.</p>
                    </div>
                    <div>
                        <a class="buttonHover" href="http://localhost:5555/annonces/1">Voir plus</a>
                    </div>
                </div>
            </div>
            <div class="annonce_card">
                <div class="img_annonce"
                     style="background-image: url('https://images.caradisiac.com/logos/3/7/7/6/273776/S7-essai-moto-guzzi-v100-s-la-jeunesse-centenaire-198620.jpg')"></div>
                <h2>Supra moto trop belle</h2>
                <p>supra description de la supra moto car on aime trop faire ça !</p>
                <div class="annonce_card_infos">
                    <div>
                        <p>15.99€</p>
                        <p>Raphael Da.</p>
                    </div>
                    <div>
                        <a class="buttonHover" href="http://localhost:5555/annonces/1">Voir plus</a>
                    </div>
                </div>
            </div>
            <div class="annonce_card">
                <div class="img_annonce"
                     style="background-image: url('https://images.caradisiac.com/logos/3/7/7/6/273776/S7-essai-moto-guzzi-v100-s-la-jeunesse-centenaire-198620.jpg')"></div>
                <h2>Supra moto trop belle</h2>
                <p>supra description de la supra moto car on aime trop faire ça !</p>
                <div class="annonce_card_infos">
                    <div>
                        <p>15.99€</p>
                        <p>Raphael Da.</p>
                    </div>
                    <div>
                        <a class="buttonHover" href="http://localhost:5555/annonces/1">Voir plus</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
